@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
  background-image: url(../public/pictures/RADIO_bg.png);
  /* height: 100vh; */

}
/* 
.left{
  background-image: url(../public/pictures/container1_radio.png);
  height:fit-content;
} */